[2021-09-29 07:07] osBins opened #1 "Broadcast a message to users when someone connects or disconnects"

[2021-09-29 07:08] osBins opened #2 "Add support for Nicknames"

[2021-09-29 07:09] osBins opened #3 "Add ${ user } is typing... functionality"

[2021-09-29 07:10] osBins opened #4 "Show who's online"

[2021-09-29 07:10] osBins opened #5 "Implement personal messaging feature"

[2021-09-29 07:11] osBins opened #6 "Beautify README.md"

[2021-09-29 07:12] osBins opened #7 "Beautify chatApp interface"

[2021-10-01 07:02] PrimalPimmy commented on #1
Working on it

[2021-10-01 13:04] #1 closed

[2021-10-01 13:15] osBins opened #13 "Add a CONTRIBUTING.md"

[2021-10-01 17:24] osBins opened #18 "Stylesheet not loading when used with 'node' command"
CSS is not being loaded when stylesheet is called using <link> tag in HTML document.

[2021-10-01 18:21] osBins opened #20 "Make external file for client-side scripting instead of including it in HTML"

[2021-10-01 18:25] #20 closed

[2021-10-01 18:25] #18 closed

[2021-10-03 09:43] #3 closed

[2021-10-04 07:17] #2 closed

[2021-10-04 07:19] gokul5102 commented on #7
please assign this issue to me

[2021-10-04 07:23] osBins commented on #7
Go for it @gokul5102!

[2021-10-04 09:16] manthanabc commented on #4
I would like on work on it.

[2021-10-04 09:17] osBins commented on #4
Go for it, @manthanabc!

[2021-10-04 11:21] #13 closed

[2021-10-06 18:31] #4 closed

[2021-10-17 12:52] osBins opened #31 "Enable webpage auto-scroll when new messages are received after filling the entire screen"

[2021-11-28 12:22] #7 closed

[2021-11-28 12:25] osBins opened #38 "HTML/CSS | Implement an easy-on-eyes design for the chatApp"
The current chatApp has a harsh colour scheme which is slightly rough on the eyes. The chatApp would look good with a subtle colour scheme (and UI design).

[2021-11-28 12:34] PrimalPimmy opened #39 "Implement Sign-up/Login system"
Instead of people randomly a chat room, we need to add a sign up and login system.

[2021-11-28 13:04] osBins opened #40 "Design and add a favicon to the website"
![image](https://user-images.githubusercontent.com/70942982/143768967-75651014-f4da-422b-a83d-a0636321b169.png)
The chatApp tab would look good with a favicon

[2021-11-28 19:10] aman111222 commented on #39
I want to work on this issue.

[2021-11-28 19:10] aman111222 commented on #5
I want to work on this feature.

[2021-11-28 19:32] osBins commented on #39
Great! Assigning this issue to you @aman111222. Create a pull request, preferably, as soon as you start working on your issue so that we can track your progress.

[2021-11-28 19:48] jaiakash commented on #40
I would like to work on adding favicon for project. Please assign this issue.

[2021-11-28 19:51] jaiakash commented on #31
Hey i would like to work on this issue. Please assign this issue to me.

[2021-11-28 20:04] osBins commented on #31
Awesome. I'm assigning this issue to you @jaiakash! I'd suggest you to create a Pull Request as soon as you start working on this issue so that your progress can be tracked.

[2021-11-28 20:09] osBins commented on #40
I appreciate your enthusiasm @jaiakash! I've already assigned an issue to you. I'll assign this issue to you after you are done resolving the other issue and given that no one else calls dibs on this one. Thank you for understanding!

[2021-11-28 20:14] vedantiitkgp commented on #38
I will like to work on this

[2021-11-28 20:17] vedantiitkgp commented on #5
I would also like to work on this feature

[2021-11-28 20:18] osBins commented on #38
Great! I'm assigning this issue to you @vedantiitkgp. I'd recommend you create a Pull Request as soon as you start working on the issue so that your progress can be tracked!

[2021-11-28 20:23] osBins commented on #5
I like your enthusiasm @aman111222 and @vedantiitkgp! I have already assigned an issue each to you and I'd highly appreciate it if you could resolve your assigned issue and then come back to this one if no one else has been assigned to it! Thank you for understanding!

[2021-11-29 10:35] jaiakash commented on #40
I understand. I will try to finish the previous issue asap.

[2021-11-29 12:27] osBins opened #41 "Fix being able to send messages without setting a username"
Currently, users are not forced to set a username before sending a message on the chatapp.
![image](https://user-images.githubusercontent.com/70942982/143867936-d459744f-1fd5-4792-adf3-19289cdba3df.png)

[2021-11-29 12:29] osBins opened #42 "Display "<username> is typing..." instead of "A user is typing...""
![image](https://user-images.githubusercontent.com/70942982/143868208-63a1e846-ae09-4312-81c8-6bbc7b637723.png)
Show the username when someone is typing instead of the arbitrary "A user is typing..." message on the chatApp

[2021-11-29 12:31] PrimalPimmy opened #43 "Create a database for storing messages"
Currently, the messages get deleted as soon as the user disconnects. We need to set up a proper database to store all the messages. DMs can be stored later, current focus is to store the current common chat room. Any NoSQL db can be used, like [Cassandra](https://cassandra.apache.org/_/index.html), or any of your choice if it's easier.

[2021-11-29 12:32] osBins opened #44 "Move the collapsible 'Online' users list to the right and beautify it"
Currently, the collapsible 'online' users list is on the top of the chatApp, and all messages are appended under it. The chatApp would look better with the 'online' users list on the right, collapsible or not.
![image](https://user-images.githubusercontent.com/70942982/143868700-debd0e44-a2ff-4049-9731-40a3d971e3d7.png)

[2021-11-29 12:44] snahashisk commented on #40
I would like to work on it. Please assign me this.

[2021-11-29 12:57] PrimalPimmy commented on #40
Done :+1: , do inform us if you face any issues!

[2021-11-29 13:13] aryanploxxx commented on #38
I would Like to work on this issue too.

[2021-11-29 13:41] aryanploxxx commented on #44
I would like to work on the issue.

[2021-11-29 13:42] osBins commented on #44
Great! Assigning this issue to you @aryanploxxx.

[2021-11-29 13:59] SachinMittal1766 commented on #41
I would like to work on the issue. @osBins Pls assign it to me.

[2021-11-29 14:01] osBins commented on #41
Awesome! Assigning the issue to you @SachinMittal1766.

[2021-11-29 18:19] osBins opened #45 "Improve README.md"
Add a fitting and verbose description of the chatApp to the README.

Issue is only open for first time contributors to GitHub.

[2021-11-29 19:48] Koda-Pig commented on #44
Hi @osBins, I've fixed this issue, my pull request is here: https://github.com/osBins/chatApp/pull/46

Sorry for not commenting earlier, thought I might as well share what I worked on.

[2021-11-30 05:44] snahashisk commented on #40
![favivi-01](https://user-images.githubusercontent.com/77480125/143992270-a45762d4-d6f3-4354-879e-8e0036d225b8.png)
I have added this favicon. can I create a pr?

[2021-11-30 07:08] snahashisk opened #48 "Improve the send button"
I would like to improve the design of the send button.
![button](https://user-images.githubusercontent.com/77480125/144001573-1d7127b3-3f27-4eee-967b-2e7afa9cea15.JPG)

[2021-11-30 07:55] iamhardikat11 commented on #45
I would like to take this Issue of Improving the README.md

[2021-11-30 08:04] PrimalPimmy commented on #45
Great, I'm assigning this to you. Also @iamhardikat11 join our telegram channel for further discussion on how you'll work on this, that'd be helpful for communicating, thanks :)

[2021-11-30 08:14] iamhardikat11 commented on #45
@PrimalPimmy I am unable to join the telegram channel through the link on KWoC Website. Can you help with problem?

[2021-11-30 08:15] iamhardikat11 commented on #45
@PrimalPimmy I am unable to join the telegram channel through the link on KWoC Website. Can you help with the problem?

[2021-11-30 08:30] iamhardikat11 commented on #45
Sure. Will Do……

[2021-11-30 10:57] #6 closed

[2021-11-30 14:41] snahashisk opened #49 "Adding time stamp"
Adding time stamp in the message field

[2021-11-30 16:17] james3gh commented on #42
please assign this issue to me

[2021-12-05 06:11] SachinMittal1766 opened #51 "Adding footer"
We can add a footer on the webpage containing team details Etc. I want to work on it. Please assign it to me @PrimalPimmy

[2021-12-05 07:04] PrimalPimmy commented on #51
What design are you going to go for? Can you show an example/prototype of the footer?

[2021-12-05 10:35] KryptonANSHU commented on #43
Hey, I can work on this issue using MongoDB

[2021-12-05 10:40] ankitgarg1234 commented on #43
I Too want to work on this issue

[2021-12-05 13:09] kuldeepsingh0330 opened #52 "improve username, 'Type a message...' input field"
![3](https://user-images.githubusercontent.com/95225751/144748601-71c5ae14-a9a7-4715-afd9-f955f5cea4bd.png)

like this.......

[2021-12-05 17:44] Tripat-Jot opened #53 "Adding "Send Location" button"

[2021-12-05 18:04] osBins commented on #53
Hey @Tripat-Jot. That's a cool idea. Can you edit the issue title to just say "Adding 'send location button'" or something of the sorts so that the title is brief, and then explain it briefly in the description?

[2021-12-05 18:23] Shreya-Agrawal-2121 opened #54 "Adding a 'Send Image' functionality."
There is currently no option of sending images over this chatApp. I would like to work on creating such option.

[2021-12-05 18:24] osBins commented on #52
@kuldeepsingh0330, there's someone already working on the send button. Could you center the username placeholder and keep the 'Type a message...' placeholder aligned to the left. Open a Pull Request when you're done with the changes and I'll merge it.

[2021-12-05 18:27] osBins commented on #54
Great idea! Assigning this issue to you.

[2021-12-05 18:37] ggggg-15 opened #55 "Adding the feature to "tag" a user or a message"
Users, in order to continue a conversation on a particular topic or with a particular person, can tag that message or the person's username. I would like to work on this feature.

[2021-12-05 18:40] ggggg-15 opened #56 "Adding a feature to "edit/delete" a message"
The chat app can have a feature to edit or delete an already sent message, in case the user notices a mistake after sending the message. I am interested to contribute here.

[2021-12-06 03:14] kuldeepsingh0330 commented on #52
Okk

[2021-12-06 07:12] cp-Coder commented on #5
Can I work on this issue??

[2021-12-06 07:13] osBins commented on #5
Sure thing! Assigning this issue to you @cp-Coder.

[2021-12-06 07:34] snahashisk commented on #40
i have created a pr #58

[2021-12-06 08:54] PrimalPimmy commented on #40
Oh I mean comment on the PR, not here, but alright do that for next PR if you make :+1:

[2021-12-06 09:04] PrimalPimmy commented on #55
Sure! Assigned it to you

[2021-12-06 09:09] osBins opened #59 "Online users list doesn't show the user itself but only other users"
Modify the online users list to show "<your username> (you)" in addition to other online users.

[2021-12-06 09:10] saisumanthkumar commented on #59
@osBins I'd like to work on this

[2021-12-06 09:11] osBins commented on #59
Great, assigning this issue to you @saisumanthkumar!

[2021-12-06 09:20] saisumanthkumar opened #60 "Bug: Application Allows to send message without username"
Chat application allows user to send message without any username
![image](https://user-images.githubusercontent.com/74057515/144820144-486ea8a2-156b-459e-9b86-3958c5525e45.png)

#### Solution :
Doesn't allow to send message unless username isn't empty.

I'd like to work on this issue

[2021-12-06 09:25] osBins commented on #60
Duplicate : #41

[2021-12-06 09:27] osBins opened #61 "Implement a dark mode toggle for the site"

[2021-12-06 09:28] #60 closed

[2021-12-06 09:48] vedantiitkgp commented on #61
Assingn me this

[2021-12-06 09:49] vedantiitkgp commented on #59
I have already fixed this

[2021-12-06 09:50] vedantiitkgp commented on #52
I have corrected this in design

[2021-12-06 09:51] vedantiitkgp commented on #49
I have added this in the new design

[2021-12-06 09:51] vedantiitkgp commented on #48
I have updated the button in new design

[2021-12-06 09:53] #41 closed

[2021-12-06 09:55] SachinMittal1766 commented on #61
I would like to work on it. Pls assign it to me @osBins

[2021-12-06 09:55] osBins commented on #42
Resolved by #50.

[2021-12-06 09:55] #42 closed

[2021-12-06 11:20] UjjawalKhadanga opened #63 "Improving the "typing" broadcast"
If a user starts typing, the "feedback" div in other clients will displays "{userName} is typing..". Even if the user has stopped typing the "feedback" div still displays the message. I would like to contribute this improvement.

[2021-12-06 11:26] aksh-hash commented on #61
Sir, I would like to work on this.

[2021-12-06 12:37] sushovanb02 opened #65 "Adding "time" of the sent message by an user"
@PrimalPimmy @osBins  kindly assign me this for KWoC 2021

[2021-12-06 13:11] osBins commented on #65
Appreciate your interest in contributing to the chatApp @sushovanb02! However, this is a duplicate of issue #49, which already has someone assigned.
Feel free to go through the list of issues/create another one yourself to work on. Cheers!

[2021-12-06 13:12] #65 closed

[2021-12-06 13:13] osBins commented on #63
Thank you for bringing this up @UjjawalKhadanga! Assigning this issue to you.

[2021-12-06 13:19] osBins commented on #61
This was originally @vedantiitkgp's idea, assigning the issue to him.
@SachinMittal1766 @aksh-hash I appreciate your enthusiasm in contributing to the chatApp. Feel free to go through the list of issues/create your own to work on.

[2021-12-06 13:24] osBins commented on #59
@vedantiitkgp can you undo this particular change, (along with the timestamp one), since we have separate issues for these and people already working on them? Thank you for understanding!

[2021-12-06 13:46] sushovanb02 opened #66 "Implementing "search in chat" feature"
@osBins please assign me this issue

[2021-12-06 13:48] osBins commented on #66
Awesome! Assigning this issue to you @sushovanb02.

[2021-12-06 15:19] vedantiitkgp commented on #59
I was bound to fix this issue because I have to create some design changes accordingly it would create a mess if I fix this issue

[2021-12-06 15:21] vedantiitkgp commented on #48
@osBins this doesn't require different issue it should have been merged in the design issue

[2021-12-06 15:27] vedantiitkgp commented on #38
@osBins please close #49  and #59  these are both design issues I have to fix

[2021-12-06 16:05] osBins commented on #59
I agree that this issue falls under your jurisdiction since it's related to design. However now that we already have someone working on it, it would be unfair to them if it's implemented by someone else. Could you create a Pull Request so that we could take a look at how undoing the specific changes might create a mess?

[2021-12-06 16:55] kuldeepsingh0330 opened #70 "add emoji keyboard"
![1](https://user-images.githubusercontent.com/95225751/144888209-3b49a7b4-c5d3-4548-968a-485cae70d70e.png)
like this......

[2021-12-06 17:52] PrimalPimmy commented on #70
Hey @kuldeepsingh0330 , nice work on this, I'm assigning this issue to you. But don't make a PR just yet, we're doing some UI changes in #69  that you might have to rebase with your own fork, before implementing this. Other than that, it's a great feature :+1:

[2021-12-06 18:03] #59 closed

[2021-12-07 05:44] osBins opened #71 "Fix empty space on right side in chatApp"
Horizontal scrollbar below shows a lot of empty space to the right. Empty space needs to be removed so that there's no horizontal bar and everything is perfectly centered on screen.
![image](https://user-images.githubusercontent.com/70942982/144973301-d3639ab3-ebb7-45ea-a2a4-3c824070f011.png)

[2021-12-07 06:52] vedantiitkgp opened #72 "Adding a Mobile UI"

[2021-12-07 06:52] amm98d commented on #71
Hi @osBins, I would like to take this, if possible :)

[2021-12-07 06:54] osBins commented on #71
Great! Assigning this to you @amm98d

[2021-12-07 06:58] vedantiitkgp commented on #72
@osBins assign it to me

[2021-12-07 07:21] osBins commented on #72
All yours @vedantiitkgp!

[2021-12-07 08:04] saisumanthkumar opened #75 "feat: Detect links"
Links should be clickable.

I'd like to work on this feature

[2021-12-07 08:06] osBins commented on #75
Sounds good. Go for it @saisumanthkumar!

[2021-12-07 08:06] saisumanthkumar opened #76 "Feat : Support Mark Down"
Able to support Markdown for better view

I'd like to work on this

[2021-12-07 08:10] osBins opened #77 "Prevent HTML tags from being rendered in chat messages and show plain-text"
Currently, HTML tags like `<h1>, <b>` and others are rendered. They should be shown as plain-text instead of rendering.
![image](https://user-images.githubusercontent.com/70942982/144991004-00559ccd-4e57-45b0-8eba-47685bd79fd5.png)

[2021-12-07 08:21] saisumanthkumar commented on #77
@osBins I'd like to work on this

[2021-12-07 08:28] osBins commented on #76
Alright, assigning this issue to you @saisumanthkumar!

[2021-12-07 08:30] osBins commented on #77
Great, you can club it with the markdown issue #76 and create a single PR for this.

[2021-12-07 08:42] shivprime94 commented on #56
Hey! I would like to work on this.

[2021-12-07 08:42] #48 closed

[2021-12-07 09:13] ggggg-15 commented on #56
@shivprime94 Yeah sure! I have already taken the tag feature issue so you can take this up.

[2021-12-07 09:15] ggggg-15 commented on #56
@PrimalPimmy please assign this issue to @shivprime94 instead of me, I have been assigned another issue already. Thank you!

[2021-12-07 09:23] osBins opened #78 "'Enter' key to trigger the 'send' button (animation from red to green)"
Currently the animation on 'send' button only occurs when it is clicked. The button being triggered on pressing 'Enter' key to send the message would look good.

[2021-12-07 09:35] tharunbirla commented on #78
@osBins I'd like to work on this ✋

[2021-12-07 09:53] osBins commented on #78
Great! Go for it @tharunbirla. Assigning the issue to you.

[2021-12-07 10:01] jaiakash commented on #45
Hi, @iamhardikat11 are you still working on the issue?
If not, I would like to take this Issue of Improving the README.md

- [ ] Add new screenshots.
- [ ] Improve readability of texts.
- [ ] Add necessary gaps between texts and images.

[2021-12-07 10:45] #75 closed

[2021-12-07 10:45] #76 closed

[2021-12-07 10:45] #77 closed

[2021-12-07 10:45] iamhardikat11 commented on #45
Yes, I am!

On Tue, Dec 7, 2021 at 3:31 PM Akash Jaiswal ***@***.***>
wrote:

[2021-12-07 14:44] saurabhbakolia opened #84 "Cleaning Codebase"

[2021-12-07 14:45] saurabhbakolia commented on #84
I want to work on cleaning codebase, please assign issue to me

[2021-12-07 14:51] osBins commented on #84
Thank you for wanting to take up this issue @saurabhbakolia! Assigning it to you!

[2021-12-07 14:54] #78 closed

[2021-12-07 14:54] #63 closed

[2021-12-07 14:56] #31 closed

[2021-12-07 14:56] #38 closed

[2021-12-07 14:57] #40 closed

[2021-12-07 17:39] iamrahulrnair commented on #84
Hi, may I work on this, and could u specify the description of what exactly the goal, the title seems abstract, should I modularize it?

[2021-12-08 12:47] PrimalPimmy commented on #39
Hey @aman111222 , any progress on this?

[2021-12-08 14:40] PrimalPimmy commented on #39
We need to implement login/sign-up system asap in a few days... so if you're not able to do this/ or need help, do tell :D

[2021-12-08 17:16] aman111222 commented on #39
I am not able to decide where to start. Can you please tell me what are the things that need to read for this project? Currently, I'm reading about react, will be able to complete it within a day.

[2021-12-09 05:05] PrimalPimmy commented on #39
This project uses Socket.io, expressJS, simple html css. So no react here. For login/sign-up you'll need to know about PR #67 which is about setting up a database, which is necessary for the project.. come ask in our telegram group.

[2021-12-09 13:45] ankitgarg1234 commented on #39
I would love to work on this issue can you please assign it to me

[2021-12-10 10:11] #66 closed

[2021-12-11 14:30] osBins opened #88 "Stylizing 'search' box"
The search box position is currently on the top left and it looks plain.
The position is to be fixed in a good spot on the page and stylized to make it look better.

[2021-12-11 14:31] #71 closed

[2021-12-11 14:48] vedantiitkgp commented on #88
@osBins assign me

[2021-12-11 14:53] osBins commented on #88
Great! Assigning this issue to you @vedantiitkgp.

[2021-12-11 16:28] #49 closed

[2021-12-11 21:31] #39 closed

[2021-12-11 21:33] #43 closed

[2021-12-12 05:58] ankitgarg1234 opened #91 "logout implementation"
#database #node

[2021-12-12 06:00] ankitgarg1234 commented on #91
i am working on this issue so that user can be logged out

[2021-12-13 10:53] SachinMittal1766 commented on #45
@PrimalPimmy @osBins I would like to work on it. pls assign it to me.

[2021-12-13 14:24] osBins commented on #45
@iamhardikat11 let me know if you're working on this issue by tomorrow. If not, this issue will be assigned to @jaiakash since he asked for an update first.
Thank you for showing interest in improving the README @SachinMittal1766! If the issue isn't taken up by @jaiakash, I'll make sure it is assigned to you.

[2021-12-14 05:05] snahashisk opened #95 "Stylizing the Log Out Button"
![log-1](https://user-images.githubusercontent.com/77480125/145936461-ba1a1518-df67-437b-b85d-c63ec451a5f4.JPG)
The log out button looks odd
Please assign me this

[2021-12-14 11:04] jaiakash commented on #45
Thnx, I would start working on this issue.

[2021-12-14 11:09] osBins commented on #45
Great! Assigning this issue to you@jaiakash

[2021-12-14 12:28] iamhardikat11 commented on #45
Sorry for the late response, I am still working on it.

[2021-12-14 13:26] osBins commented on #45
Feel free to find another issue to work on @iamhardikat11! There was no progress on this since 2 weeks and now it has been assigned to @jaiakash. You can work on another existing issue or create one to work on for yourself. Thank you for understanding! :)

[2021-12-14 20:51] osBins commented on #84
Yes we still need work on this @iamrahulrnair! The current code base is pretty inconsistent in terms of syntax, spaces, commas, semi-colons. Do you have anything in mind?

[2021-12-16 20:40] RahulSharma4329 opened #97 "Stylizing the Online members Tab"
fix alignment issue like this
![Screenshot from 2021-12-17 02-04-45](https://user-images.githubusercontent.com/74984914/146445844-58378da9-44b0-48ec-aee8-a466946bb0fd.png)

[2021-12-16 20:40] RahulSharma4329 commented on #97
i want to work on this please asign it to me

[2021-12-17 07:23] osBins commented on #97
Good find for an issue @RahulSharma4329! Assigning this to you.

[2021-12-17 16:49] osBins commented on #72
@vedantiitkgp what's the progress on this?

[2021-12-17 17:24] #52 closed

[2021-12-18 13:23] #97 closed

[2021-12-19 06:52] #54 closed

[2021-12-19 08:41] sushovanb02 opened #100 "add Attach documents feature"
@osBins pls assign this issue to me

[2021-12-19 08:43] osBins commented on #100
Sounds like a good addition to the chatApp. Assigning this to you @sushovanb02!

[2021-12-19 13:58] SachinMittal1766 opened #101 "Search Box"
Search box CSS is not good. @PrimalPimmy I want improve CSS. pls assign it to me.
![Screenshot (761)](https://user-images.githubusercontent.com/82721772/146677469-1df94fde-cda7-44ab-a603-5ebf4d9f1983.png)

[2021-12-19 13:58] #51 closed

[2021-12-19 13:59] osBins commented on #101
Absolutely. We can do with a pretty search box. You can get working on it right away. Also, since I haven't been asked to assign this issue (😔😔😔😔😔😔) @PrimalPimmy can you assign the issue to him?

[2021-12-20 10:50] osBins commented on #95
Assigning this to you @snahashisk!

[2021-12-20 10:51] #91 closed

[2021-12-20 17:08] snahashisk opened #103 "Styling the login/sign up page"
![signUpPage](https://user-images.githubusercontent.com/77480125/146805298-0226f87d-547a-491f-a1ce-e9a2425e48e9.png)

Implementing a design like this for the Sign Up as well as the Login page.
Please assign me this @PrimalPimmy @osBins

[2021-12-21 08:25] PrimalPimmy commented on #103
Alright 👍

[2021-12-21 12:31] osBins commented on #103
@snahashisk along with that, can you look into the logout button once again? It looks fine on 80% zoom on a 125% scaled display (1920x1080), but looks fine on normal zoom on a 100% scaled display.
![image](https://user-images.githubusercontent.com/70942982/146929595-007e8702-1969-4189-9fd6-fea572fd244b.png)

[2021-12-21 15:07] snahashisk commented on #103
okay I'll fix  that too

[2021-12-21 15:36] snahashisk commented on #95
Please review it @osBins

[2021-12-21 17:39] osBins commented on #53
@Tripat-Jot can you update me on this issue's progress?

[2021-12-22 12:41] Shreya-Agrawal-2121 commented on #53
I would like to work on this issue. Can this be assigned to me?

[2021-12-22 12:47] osBins commented on #53
Alright. Since it has been more than 2 weeks and I haven't received a response yet from @Tripat-Jot, I'm assigning this issue to you @Shreya-Agrawal-2121! Let me know if you face any issues. Good luck!

[2021-12-23 10:12] PrimalPimmy opened #108 "Store uploaded images in database"
Currently images aren't stored in the database

[2021-12-23 11:53] osBins commented on #56
@shivprime94 can I have an update on this?

[2021-12-23 12:17] #56 closed

[2021-12-23 12:18] osBins opened #109 "Implement a 'delete your message' feature"
Give users an option to delete their own sent message within a time frame. Also broadcast that a message had been deleted by the user.

[2021-12-23 19:15] osBins commented on #45
@SachinMittal1766 would you be interested in working on this now?

[2021-12-24 08:26] SachinMittal1766 commented on #45
@osBins Yup, I would love to work on it.

[2021-12-24 18:12] soumyac19 commented on #45
Can I work on this issue?

[2021-12-24 18:27] iamhardikat11 commented on #45
Can get to work on it.

On Fri, 24 Dec 2021, 23:43 soumyac19, ***@***.***> wrote:

[2021-12-25 06:45] osBins commented on #45
Assigning this issue to @SachinMittal1766 for now.
@soumyac19 Thank you for showing interest in contributing! Since this is being assigned to someone else right now, can you check out other issues to work on? Feel free to create one of your own if there is anything you would like to implement or edit.
@iamhardikat11 I'm afraid this issue cannot be assigned to you again since it has almost been a m

[2021-12-25 07:48] sushovanb02 commented on #108
@PrimalPimmy @osBins can I work on this?

[2021-12-25 10:27] ankitgarg1234 opened #114 "change password implementation"
have to give an option for change password

[2021-12-25 10:28] ankitgarg1234 commented on #114
please assign this issue to me

[2021-12-25 11:10] sushovanb02 opened #116 "Bug: "User is Typing..." is not working"
@osBins pls assign

[2021-12-25 11:10] #44 closed

[2021-12-25 12:05] abhikrishnaram opened #118 "Modern UI for chatApp"
A new more sleek user interface update for the app

[2021-12-25 16:15] #103 closed

[2021-12-26 08:51] Bibhavshah commented on #88
Can I work on this issue?

[2021-12-26 09:36] osBins commented on #88
Hey @Bibhavshah, this issue has already been resolved via #105. Feel free to go through the list of issues and work on one not assigned to anyone, or you could create an issue to work on for yourself too!

[2021-12-26 09:36] #88 closed

[2021-12-26 09:36] #101 closed

[2021-12-26 09:37] #5 closed

[2021-12-26 09:38] #95 closed

[2021-12-26 09:39] osBins opened #120 "Implement a function to delete messages older than 3 days from the database and hence the chatApp messages container"

[2021-12-27 08:22] osBins commented on #61
@vedantiitkgp can I have an update on this by tonight?

[2021-12-27 13:47] #45 closed

[2021-12-28 06:03] sushovanb02 opened #122 "shift header position"
@osBins pls assign me this

[2021-12-28 07:22] SachinMittal1766 opened #124 "Login Page buttons"
I think color and background color of "Log in" and "Sign up" buttons should change when someone hover on them. So that it look more attractive.
@osBins What do you think? I would like to work on it if you agree.

[2021-12-28 07:28] #122 closed

[2021-12-28 07:34] sushovanb02 opened #125 "implementing flexbox in the header"
@osBins assign me this

[2021-12-28 12:11] JessicaJohnBritto opened #126 "Add a star-messages/pin messages feature"
Starring messages will enable users to check out important messages with ease whenever needed. I would like to work on this issue.

[2021-12-28 13:56] osBins commented on #126
Sounds like a good feature. Assigning this to you @JessicaJohnBritto! Good luck.

[2021-12-28 14:04] osBins commented on #124
Sounds good. A subtle animation would look cute on the buttons in the chatApp. Assigning this to you @SachinMittal1766

[2021-12-28 14:16] osBins opened #127 "fix outlines on searchbox, and other buttons"
On clicking the search box, the default browser outline is coming which **needs to be removed**.
![image](https://user-images.githubusercontent.com/70942982/147575160-813b2222-6c3d-485a-befc-30fafb2b9b32.png)
The same can be observed when the search icon on its left is clicked, when the 'send' button is clicked, and when the logout button is clicked.

[2021-12-28 14:18] osBins opened #128 "Fix cross-browser CSS rendering of message box"
Chrome and Firefox are differing on the CSS for the message boxes. On Firefox, there is a gap between the box and the small triangle (crimp) on its side (both blue and grey ones).
![image](https://user-images.githubusercontent.com/70942982/147575428-70e88e94-a0b2-4f31-9b0f-938fea3bc649.png)
Chrome-like look is preferred.

[2021-12-28 14:21] osBins opened #129 "fix image sending bug where image appears on left side even when current user sends it"
In the newer UI, on sending an image, no matter who sends it, it is being rendered on the left side. Image should be rendered on right side in the message-callout box if current user is sending it and should render on the left normally (also in the message-box) if someone else sends it.
![image](https://user-images.githubusercontent.com/70942982/147575690-bc4ac2a8-4730-4e6a-8f03-adabdd768d96.png)

[2021-12-28 14:25] #118 closed

[2021-12-28 14:26] osBins opened #130 "fix cross-browser scaling issue (Chrome and Firefox)"
On Chrome, site renders fine with a scroll bar just in the messages container.
![image](https://user-images.githubusercontent.com/70942982/147576024-0e274f18-8669-4696-aae9-b49b29867704.png)  <br/>
However in Firefox, a site-wide scrollbar also appears on the right side
![image](https://user-images.githubusercontent.com/70942982/147576080-e3e25e65-2eb3-43cd-aa4a-1f59ce9e9297.png)  <br/>
Fix is nee

[2021-12-28 14:30] osBins commented on #125
Just merged a PR for an entirely new layout. We won't be needing flexbox in the header anymore.
However I just opened a few more issues (#127, #128, #129, #130, and searching for more). Feel free to take a look at the other issues and let me know if there's any one you would like to work on.

[2021-12-28 14:31] #125 closed

[2021-12-28 14:33] sushovanb02 commented on #127
@osBins wanna work on this

[2021-12-28 14:39] osBins opened #131 "fix how JavaScript fetches and renders timestamp for messages"
Currently, the site uses Moment.js to fetch time in the UTC time standard and offsets it by +5:30 to show Indian time. However if anyone uses the chatApp outside of India, it will display time wrongly for them.
[code]
Need a fix to either
- display the local system time for message timestamp instead of fetching UTC time and offsetting it by a constant +5:30
- **OR** fetch UTC time and offset it de

[2021-12-28 17:59] snahashisk commented on #131
Please assign me this.

[2021-12-28 18:16] osBins commented on #131
All yours @snahashisk

[2021-12-29 08:56] osBins opened #134 "fix word-wrap in long text messages"
Currently, long text message overflow out of the message box and get cut on the screen. It would be better if there could be a word-wrap to show full long text message instead of cutting it out of the screen
![image](https://user-images.githubusercontent.com/70942982/147644562-f30ccb5a-97f1-44e0-940c-cc78e3f8b4d8.png)

[2021-12-29 09:00] osBins opened #135 "re-implement Markdown"
New UI does not support Markdown. Earlier the chatApp used [markdown-it](https://github.com/markdown-it/markdown-it), the code for which still exists in `client.js` file but it is not linked to the messages how they are being showed in the new UI

[2021-12-29 09:05] #127 closed

[2021-12-29 09:41] osBins opened #138 "prevent auto-complete suggestion box on writing text message"
![image](https://user-images.githubusercontent.com/70942982/147648430-fb5d3ff2-2f79-4a15-bd57-98cc017f7ead.png)

[2021-12-29 10:06] snahashisk commented on #134
Please assign me this

[2021-12-29 10:27] osBins commented on #134
Assigned to you @snahashisk

[2021-12-29 12:56] SachinMittal1766 opened #140 "Update UI of Login Page"
I think we can modify the UI of the Login page. I am attaching the photos of how the webpage is looking now and how I want to change it. @osBins assign it to me. So that I can start working on it.
![SIGN_UI](https://user-images.githubusercontent.com/82721772/147664559-884cbbd4-49dc-4bc2-9254-ba4e3091a084.png)
![LOGIN_UI](https://user-images.githubusercontent.com/82721772/147664562-e164c901-d8ea-45

[2021-12-29 13:19] osBins commented on #140
That looks neat. Go for it @SachinMittal1766!

[2021-12-29 13:29] #100 closed

[2021-12-29 13:29] #116 closed

[2021-12-29 21:54] RahulSharma4329 commented on #72
i want to work on this issue can you please assign this to me

[2021-12-30 13:56] 0913hung commented on #131
How about using Date.now() to set the timestamp of a message then store as number instead of plain text? The data structure could be more consistent and easy to search by a date range later on. Then on frontend, using toLocaleString() to parse into user's  local time

[2021-12-30 15:55] osBins commented on #131
Thank you for your input @0913hung! I was actually wondering the same thing as well.
@snahashisk can you elaborate on why we went with Moment.js over using the `Date.now()` method?

[2021-12-30 15:59] #134 closed

[2021-12-30 16:04] #130 closed

[2021-12-30 16:06] osBins commented on #72
Go for it, @RahulSharma4329!

[2021-12-30 17:36] snahashisk commented on #131
https://golb.hplar.ch/2017/01/JavaScript-Date-and-moment-js.html
You can go through this.

My reasons for going with Moment:

- Easier to format date and time (moment.js provides many ways for converting a moment object to a string with the format() function.)
- Lot more functionality (provides many additional get and set functions built-in)
- Presence of validation
- chainable setters
I hope you

[2021-12-30 19:33] osBins commented on #131
That's a great justification for using Moment.js. I hope this answers @0913hung's concern too.

[2021-12-31 04:40] #124 closed

[2022-01-01 11:30] osBins opened #146 "Stylize the 'forgot password' page"
The 'forgot password' page needs to be consistent with the current site theming

[2022-01-01 11:31] osBins opened #147 "Type message for OTP verification (forgot password) which users receive in their inbox"
Currently, mail received looks like this
![image](https://user-images.githubusercontent.com/70942982/147849606-7594ed36-9405-4686-8b76-62f7547bfc0f.png)
A more professional message along with subject would look good.

[2022-01-01 12:21] snahashisk commented on #146
Assign me this @osBins

[2022-01-01 20:12] osBins commented on #146
Go for it @snahashisk!

[2022-01-02 17:33] Shreya-Agrawal-2121 commented on #129
I have worked out a solution to fix this bug. Kindly look into it

[2022-01-02 17:44] Jigyasa-G commented on #147
I would like to work on this, kindly assign it to me

[2022-01-02 18:44] osBins commented on #147
All yours @Jigyasa-G

[2022-01-02 20:39] #146 closed

[2022-01-03 10:52] osBins commented on #131
Still not resolved @snahashisk, check the deployed version [chatApp](https://chatapp-420.herokuapp.com/). Time is incorrect.
![image](https://user-images.githubusercontent.com/70942982/147922630-4d41ae32-b196-4579-babd-853a1f32b4e2.png)
It's currently showing UTC time.

[2022-01-13 16:52] Tanujkanti4441 opened #156 "message input is not shown in pc size"
can't see the message input in PC because overflow of the body is hidden.

![{EDF3A52A-30F5-429B-8199-FF813560791C} png](https://user-images.githubusercontent.com/86398394/149373310-84c16833-bad7-4a26-a8f2-03b2c25b5f6c.jpg)

[2022-01-14 08:13] #147 closed

[2022-01-14 08:13] #140 closed

[2022-01-14 08:15] #131 closed

[2022-01-14 08:16] #129 closed

[2022-01-14 08:16] #114 closed

[2022-05-21 14:06] #70 closed

[2022-10-03 18:54] osBins opened #160 "Update tab title on receiving new message when away from chatApp tab"
Tab title can be updated to show something like `(1) New Message | chatApp` on receiving a new message, and the number counter to increment on receiving more messages

[2022-10-03 18:59] PrimalPimmy opened #161 "Remove Welcome Voice and Notification"
We need to remove the "Welcome to chatApp, Instant messaging at your service" voice, since it is not necessary. This also includes the notification sounds. Remove any code belonging to this feature, including the mp3 files.

Check out this function here, and other similar functions in client.js , and remove any code that plays sound.
https://github.com/osPrims/chatApp/blob/f612192999d6722bff509b05

[2022-10-03 19:01] osBins opened #162 "Show date on the chatApp UI"
Currently chatApp only shows the time at which a message was sent. We need a feature which also shows date at which message was sent.
Preferably not just appended to the time string, but categorised messages by a pseudo horizontal ruler, somewhat like WhatsApp/Telegram/Instagram

[2022-10-03 19:01] #138 closed

[2022-10-03 19:03] #128 closed

[2022-10-03 19:04] #53 closed

[2022-10-03 19:05] osBins opened #163 "Have a consistent vertical scrollbar across different browsers"
Firefox -
![image](https://user-images.githubusercontent.com/70942982/193657869-38879d49-0917-44ee-a2d8-c6d60db070d7.png)

Chrome -
![image](https://user-images.githubusercontent.com/70942982/193658098-d0f7dbbc-8106-41a8-b766-fdb6200a1b8c.png)

[2022-10-03 19:15] PrimalPimmy opened #164 "Make a SETUP.md file"
Currently our setup instructions are in the README.md file, but we want it to be a separate file.

[2022-10-03 19:22] Pranjalmishra30 commented on #164
Hi I would like to contribute to this issue

[2022-10-03 19:28] osBins commented on #164
Hi @Pranjalmishra30, we're reserving this issue for a beginner.
Feel free to take a look at the other issues and let us know if you'll be taking it up. Thank you for understanding!

[2022-10-03 19:28] Pranjalmishra30 commented on #164
Sure will check other issues

[2022-10-03 19:32] osBins opened #165 "Bypass database/authentication module"
New developers will have to download and set up MongoDB to get started contributing to chatApp. However this is a tedious and unnecessary process for a developer who is working on just frontend.

We need to separate database/authentication so that it can be bypassed for frontend development purpose.

[2022-10-03 19:32] PrimalPimmy commented on #164
Any issue other than goodfirstissue should be fine :+1:

[2022-10-03 19:38] KossakowskaKarolina commented on #161
Hello, I would work on this issue.

[2022-10-03 19:45] PrimalPimmy commented on #161
Hi @KossakowskaKarolina , we're reserving all good first issues for absolute beginners, who have little to no experience in web dev. You can checkout our other non goodfirstissues :D

[2022-10-03 20:11] KossakowskaKarolina commented on #161
I absolutely understand, that's why I've been looking for that kind of issues :) Trying to do my first contibution. I'll give another one a try.

[2022-10-03 20:15] KossakowskaKarolina commented on #135
Hello, I would work on this one.

[2022-10-03 20:16] PrimalPimmy commented on #161
The other issues might not be that tough, for example a good dark mode UI would be nice to have :D

[2022-10-04 05:13] PrakritiRaw commented on #162
hi @osBins , can I work on this issue?

[2022-10-04 06:37] PrimalPimmy commented on #162
Hi @PrakritiRaw , thank you for taking interest in this issue, I have assigned it to you! Do let us know if you face any issue.

[2022-10-04 09:18] MohitSinghChauhan commented on #161
I want to work on this, Assign it to me :)

[2022-10-04 11:00] osBins opened #166 "Replace badges in README.md with cooler badges"
Current badges in the README by [shields.io](https://shields.io) can be replaced.
We can use the `flat-square` style on shields.io while generating badges for the repository for this.

[2022-10-05 02:27] GamerWhoDoesntGame commented on #166
Hey @osBins, Can i work on this issue?

[2022-10-05 06:07] osBins commented on #166
Sure! Assigning the issue to you.

[2022-10-05 06:42] GamerWhoDoesntGame commented on #166
Thanks a lot. I'm looking forward to it :)

[2022-10-05 07:58] abhis1n commented on #164
Hello, I would like to make a contribution to this issue.

[2022-10-05 08:48] abhis1n commented on #161
Hello, I would like to make a contribution to this issue.

[2022-10-05 09:21] Dhruv1969Karnwal commented on #108
yes, In chat app there should be a image uploader features should be there so I work on it to add this features in you project.

[2022-10-05 09:23] Dhruv1969Karnwal commented on #109
yes I work on it to add delete option in chat app. I am able to do it . Please assign me to do this @osBins

[2022-10-06 08:38] #164 closed

[2022-10-06 08:38] #166 closed

[2022-10-06 08:46] osBins opened #170 "fix inconsistent badges in README"
https://github.com/osPrims/chatApp/blob/fcf7cd9731fc05c4e014a789434151c0be03a022/README.md?plain=1#L6-L9

The 'Issues' and 'Pull Requests' badges -
* should have consistent style with the 'forks' and 'stars' issue (flat-square)

The 'Forks' and 'Star' badges -
* should not have a logo in them

Required fix would be to correct the query parameters used for the badges.

[2022-10-06 17:22] PrimalPimmy commented on #161
Hey @Ocidemus , thanks for showing interest in this, assigning this to you!

[2022-10-06 19:26] KossakowskaKarolina commented on #84
It would also be helpful to get rid of unused old functions that are commented. And add better comments describing what existing functions do. Some of them are missing that.

[2022-10-06 19:28] PrimalPimmy commented on #84
@KossakowskaKarolina Would you like to work on this issue?

[2022-10-06 19:38] osBins opened #173 "restrict markdown/HTML"
Currently, the chatApp is vulnerable in the sense, all HTML tags, and styling attributes can be applied to messages sent on chatApp.
We need to enable markdown and the only features that need to be implemented are -
* bold
* italics
* links
* images/gifs
* lists
* blockquote
* code snippet
*

![image](https://user-images.githubusercontent.com/70942982/194402722-7b84c891-306c-4d07-a0fd-12aac453f8e3

[2022-10-06 19:42] KossakowskaKarolina opened #174 "Fix Event Listeners on send button"
There are two Event Listeners on send button. However none of them is working. `let sendBtn` indicates class that isn't assigned to any element.

[2022-10-06 19:42] PrimalPimmy opened #175 "Use of Proper hosting services for the app"
Ever since Heroku dropped down their free tier support, we are looking for hosting our Express.js application somewhere. We could try for vercel/netlify but they seem to only be for static websites. But they seem to have serverless functions, so we could leverage that as well. The most important feature in a hosting service, in my opinion, is PR Previews, faster builds, etc

[2022-10-07 05:55] krishnanshagarwal112 commented on #170
I think the 'Issues' and 'Pull Requests' issue is resolved already ?

[2022-10-07 05:57] krishnanshagarwal112 commented on #173
We have to write code such that we can use markdown in your chat app ?

[2022-10-07 20:21] osBins commented on #174
Would you like to work on this issue?

[2022-10-07 20:21] osBins commented on #175
Inviting discussion on this issue.

[2022-10-07 20:25] #163 closed

[2022-10-08 07:33] osBins commented on #173
The code is already there. We just need to change a few flags of the `markdown-it` package to disable the HTML and yes, enable the use of markdown in chatApp.

[2022-10-08 07:41] osBins commented on #162
Hi @PrakritiRaw, do we have an update on this?

[2022-10-08 07:43] #161 closed

[2022-10-08 07:44] osBins commented on #135
Partially resolved.

[2022-10-08 16:08] shubhranshii opened #183 "Fix alignment on login and signup pages"
Fix the position of chatApp logo and Forgot Password so they are better aligned with respect to the surroundings.

[2022-10-08 16:10] shubhranshii commented on #183
@osBins I would like to work on this issue. Please assign this to me.

[2022-10-08 16:23] osBins commented on #183
Great, assigning this issue to you!

[2022-10-09 11:00] KossakowskaKarolina commented on #174
@osBins , sure, I can work on this.

[2022-10-09 11:07] KossakowskaKarolina commented on #84
@PrimalPimmy Yes, I can work on this issue, just need a few details for clarification. Which files should be included in this assignment? All of the html, css and js files? What should I do with files marked as old? Is there any specification in general that I should follow? Any clues would be appreciated :)

[2022-10-09 18:42] ShivPandey5677 commented on #183
@osBins is this issue open

[2022-10-10 19:03] PrimalPimmy commented on #84
@KossakowskaKarolina I merged a PR that changes a few files and folder structure. you can update your fork accordingly :3 . Also, it may be nice if any spam comments are removed. I would suggest keep the .old files for now, I'll let you know when they are not needed.

[2022-10-11 12:17] shubhranshii opened #187 "Fix stylesheet link in login and signup html files"
I would like to work on this issue. Please assign this to me!

[2022-10-11 16:31] ozair-dev commented on #174
I'm avaiable to work on this since nobody is assigned.

[2022-10-11 17:40] osBins commented on #162
Unassigning @PrakritiRaw because of lack of response/updates.

[2022-10-11 17:45] osBins commented on #174
@KossakowskaKarolina are you still up for taking this issue? If not, I'll assign it to @ozair-dev.

[2022-10-11 18:18] ozair-dev opened #189 "receiving all the chat messages again and again and it's maybe due to some issue with socket.io"
So I signed in with my account and left the website open for a while and noticed a problem.
I saw that after every few minutes, the chat shows a message that a new user has connected, and all messages (and I mean all of em from start to bottom) are appended again to the chat which should not happen, and whats weird is that the new recognized user is in fact me. So it thinks that i have reloaded th

[2022-10-11 18:44] osBins commented on #189
Good fine @ozair-dev. Thanks for pointing this out. Assigning this issue to you.

[2022-10-11 19:09] KossakowskaKarolina commented on #174
@osBins Yes, I'm still up to this! You can assign it to me.

[2022-10-11 19:10] osBins commented on #174
Great! @ozair-dev I've assigned the other issue you opened to you. Feel free to look for/create more relevant issues if you'd like to contribute!

[2022-10-12 18:44] osBins commented on #170
Resolved via #186

[2022-10-12 18:44] #170 closed

[2022-10-14 15:12] vridhi4 opened #191 "Disable HTML functionality in chatApp"

[2022-10-14 15:14] vridhi4 commented on #191
@osBins Please assign me this issue, I would like to work on it.

[2022-10-15 06:40] osBins commented on #191
We are using `markdown-it` package on NPM to handle markdown/html parsing in the chat app messages.
https://github.com/markdown-it/markdown-it#init-with-presets-and-options shows the flags we can set for markdown/html rendering.
This issue requires a simple flag change from `true` to `false` in `client.js` at -
https://github.com/osPrims/chatApp/blob/2bf8047fb5683358e49b82bc3dcdc542f0c1cbb5/public

[2022-10-15 15:15] DragoVeizen commented on #162
hi @osBins , Id like to work on this issue.

[2022-10-15 15:16] osBins commented on #162
@DragoVeizen assigned

[2022-10-16 15:43] #191 closed

[2022-10-21 05:01] krishnanshagarwal112 commented on #187
is this issue solved or not ?

[2022-10-21 05:42] krishnanshagarwal112 commented on #175
https://railway.app

Someone told me about this, you may checkout this platform

[2022-10-23 15:08] osBins commented on #175
@PrimalPimmy why don't we check out Railway?

[2022-10-23 15:08] osBins commented on #174
@KossakowskaKarolina are you still working on this issue?

[2022-10-23 15:09] PrimalPimmy commented on #175
@osBins lol they were asking for my card so I'm like eh maybe we should check more options

[2022-10-24 20:06] KossakowskaKarolina commented on #174
@osBins yes, it will be done this week, sorry for the delay!

[2022-10-27 12:30] KossakowskaKarolina commented on #173
![image](https://user-images.githubusercontent.com/89598954/198284034-318818c5-342d-4626-bb5f-c69e0579023c.png)
@osBins  Isn't it already resolved?

[2022-10-27 12:34] KossakowskaKarolina commented on #84
@PrimalPimmy Ok, I think I got it :) Would you assign me to this?

[2022-10-27 12:35] PrimalPimmy commented on #84
Sure!

[2022-10-27 16:01] KossakowskaKarolina opened #197 "Bug on EventListener attached to sendButton"
There are few issues with send button when the user sends the message:

- EventListener attached to `sendButton` changes button permanently. Button doesn't come back to it's original state. There is also text 'send' left, along with not working icon.
- It seems not to send message after first click. It just changes the look of the button, the second click sends the message (if the user didn't clic

[2022-10-27 17:40] #189 closed

[2022-10-27 17:40] #187 closed

[2022-10-27 17:42] PrimalPimmy commented on #162
@DragoVeizen any updates?

[2022-10-29 07:03] DragoVeizen commented on #162
not yet
busy with exams

[2022-10-31 14:21] osBins opened #199 "remove Telegram channel link from README"
Telegram channel link was added for KWoC'21. It is not needed anymore.